@{
    ViewData["Title"] = "Home Page";
}
@model Track[]

<div class="text-center">
    <h1 class="display-4">Мои треки</h1>
</div>

<h2>Загрузить новый трек</h2>
<form asp-controller="Track" method="post" asp-action="AddTrack" enctype="multipart/form-data">
    <input class="btn btn-dark" type="file" name="file" id="file">
    <input class="btn btn-primary" type="submit" value="Загрузить">
</form>
<br>

<form asp-controller="Track" method="get" asp-action="GetFilteredTracks" enctype="multipart/form-data">
    <div class="form-group">
        <label for="searchText">Поиск</label>
        <input class="form-control" type="text" name="searchText" id="searchText">
    </div>
</form>
<br>


<table class="table">
    <thead>
    <tr>
        <th scope="col">Название</th>
        <th scope="col">Трек</th>
        <th scope="col">Исполнитель</th>
        <th scope="col">Альбом</th>
        <th scope="col">Жанры</th>
        <th scope="col"></th>
        <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var track in Model)
    {
        <tr>
            <td>@track.Name</td>
            <td>
                <audio controls>
                    <source src="@Url.Content("~/Tracks/" + track.FileName)" type="audio/mpeg">
                </audio>
            </td>
            <td>@track.Artist?.Name</td>
            <td>@track.Album?.Name</td>
            <td>@track.Genres</td>
            <td>
                <form asp-controller="Track" asp-action="DeleteTrack" method="post">
                    <input type="hidden" name="trackId" value="@track.Id"/>
                    <button class="btn btn-danger" type="submit">Удалить</button>
                </form>
            </td>
            <td>
                <button type="button" class="btn btn-primary add-to-playlist-button"
                        data-track-id="@track.Id" id="addToPlaylistModalBtn">
                    Добавить в плейлист
                </button>
            </td>
        </tr>
    }
    </tbody>
</table>

@await Html.PartialAsync("ListPlaylist")

@section Scripts
{
    <script src="~/js/addToPlaylistModal.js"></script>
}