@model MusicPlayer.ViewModels.PlaylistViewModel

@{
    ViewBag.Title = "Плейлист";
    Layout = "_Layout";
}
<h2>@Model.Name</h2>
<div class="playlist-tile">
    <img src="@Url.Content("~/PlaylistArt/" + Model.PlaylistArtFileName)" onerror="setDefaultImage(this, 'Playlist.png')" alt=""/>
</div>
<br>
<form asp-controller="Playlist" asp-action="EditPlaylist" method="post">
    <input type="hidden" name="playlistId" value="@Model.Id">
    <input type="submit" class="btn btn-primary" value="Изменить плейлист"/>
</form>
<br>
<form asp-controller="Playlist" asp-action="DeletePlaylist">
    <input type="hidden" name="playlistId" value="@Model.Id">
    <input type="submit" class="btn btn-danger" value="Удалить плейлист"/>
</form>
<br>

<table class="table">
    <thead>
    <tr>
        <th scope="col">Название</th>
        <th scope="col">Трек</th>
        <th scope="col">Исполнитель</th>
        <th scope="col">Альбом</th>
        <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var track in Model.Tracks.ToArray())
    {
        <tr>
            <td>@track.Name</td>
            <td>
                <audio controls>
                    <source src="@Url.Content("~/Tracks/" + track.FileName)" type="audio/mpeg">
                </audio>
            </td>
            <td>@track.Artist?.Name</td>
            <td>@track.Album?.Name</td>
            <td>
                <form asp-controller="Playlist" asp-action="DeleteTrackFromPlaylist">
                    <input type="hidden" name="trackId" value="@track.Id">
                    <input type="hidden" name="playlistId" value="@Model.Id">
                    <button type="submit" class="btn btn-danger">Удалить из плейлиста</button>
                </form>
            </td>
        </tr>
    }
    </tbody>
</table>
